<h1>Listing Entries</h1>

<% @entries.each do |entry| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= entry.created_at.in_time_zone("Kolkata") %></h3>
    </div>
    <div class="panel-body">
      <%= entry.body.html_safe.truncate(500) %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Show', entry %>|<%= link_to 'Edit', edit_entry_path(entry) %>|<%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>



<%= link_to 'New Entry', new_entry_path %>
